@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #d9ffea9f;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% * 10));
    }
}

.animate-marquee {
    animation-name: marquee;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/* .fade-in {
    opacity: 0;
    color: blue;
    animation: fadeInAnimation 3s;
    
  }
  

@keyframes fadeInAnimation {
 
    10% {
        opacity: 0.8;
       
    }
    50% {
        opacity: 0.8;
       
    }
    100% {
        opacity: 0.8;
       
    }
}
 */


 .fadeIn {
    animation: fadeInAnimation 3s;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }